* text=auto eol=lf

*.bat      text eol=crlf
gradlew    text eol=lf

*.png      binary
*.jpg      binary
*.tflite   binary
*.jar      binary
*.keystore binary
*.jks      binary

# Keep generated/vendored files out of language stats
docs/**     linguist-documentation
